.nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
}
.nav:hover{
    cursor: pointer;
}
@media screen and (max-width:1024px){
    .nav{
        width: 15%;
        height: 20%;
       }
}
@media screen and (max-width:800px){
    .nav{
        margin-top: 1%;
        width: 14%;
        height: 20%;
       }
}